[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Calibre
Comment=Calibre
Exec=/opt/calibre/calibre --no-update-check
Icon=/opt/calibre/resources/content-server/calibre.png
Terminal=false
Type=Application
Categories=Office;
